body {
  background-color: #f0f6f6;
  font-family: sans-serif;
}
.App {
  width: 100%;
  height: 100%;
  .login-container {
    position: absolute;
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 5px 1px grey;
    display: flex;
    flex-direction: column;
    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 90%;
      color: #131921;
      .wtext {
        margin-top: 15%;
        width: 80%;
      }
      h1 {
        margin: 0;
        width: 75%;
      }
      input {
        width: 80%;
        outline: none;
        background-color: transparent;
        padding: 5px 0;
        font-size: 20px;
        border: none;
        margin-top: 25px;
        border-bottom: 2.5px solid #131921;
      }
      button {
        width: 70%;
        margin-top: 25px;
        font-size: 20px;
        padding: 10px 0;
        background-color: #131921;
        color: #f5f5f5;
        outline: none;
      }
      button:hover {
        cursor: pointer;
      }
    }
    .switch {
      text-align: center;
      line-height: 50px;
      background-color: #131921;
      height: 10%;
      color: #f5f5f5;
      font-size: 30px;
      font-weight: 500;
    }
    .switch:hover {
      cursor: pointer;
      background-color: #0e1218;
    }
  }

  .signup-container {
    position: absolute;
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131921;
    box-shadow: 0 0 5px 1px grey;
    display: flex;
    flex-direction: column;
    .contents {
      background-color: #131921;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 90%;
      color: #f5f5f5;
      .wtext {
        background-color: #131921;
        margin-top: 15%;
        width: 80%;
      }
      h1 {
        background-color: #131921;
        margin: 0;
        width: 75%;
      }
      input {
        width: 80%;
        outline: none;
        background-color: transparent;
        padding: 5px 0;
        font-size: 20px;
        border: none;
        color: #f5f5f5;
        margin-top: 25px;
        border-bottom: 2.5px solid #f5f5f5;
      }
      button {
        width: 70%;
        margin-top: 25px;
        font-size: 20px;
        padding: 10px 0;
        background-color: #f5f5f5;
        color: #131921;
        outline: none;
      }
      button:hover {
        cursor: pointer;
      }
    }
    .switch {
      text-align: center;
      line-height: 50px;
      background-color: #f5f5f5;
      height: 10%;
      color: #131921;
      font-size: 30px;
      font-weight: 500;
    }
    .switch:hover {
      cursor: pointer;
      background-color: white;
    }
  }
  .home-container {
    background-color: #f0f6f6;
    position: absolute;
    height: 100%;
    width: 100%;
    .header {
      color: whitesmoke;
      width: 100%;
      height: 10%;
      background-color: #131921;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      .heading {
        // width: 10%;
        background-color: #131921;
        margin-left: 25px;
        font-size: 35px;
        font-weight: 600;
        line-height: 65px;
      }
      .heading:hover {
        cursor: pointer;
      }
      input {
        outline: none;
        width: 30%;
        color: #f0f6f6;
        background-color: transparent;
        border: 2px solid #2d3c4e;
        font-size: 25px;
      }
      .head-buttons {
        line-height: 65px;
        font-size: 30px;
        // width: 30%;
        margin-right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .cart {
          line-height: 65px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 25px;
          i {
            font-size: 25px;
            margin-bottom: 20px;
          }
          span {
            height: 50%;
            font-size: 20px;
            margin: 0px;
            margin-bottom: 2.5px;
          }
        }

        .cart:hover {
          font-weight: 600;
          cursor: pointer;
        }
        Button {
          color: whitesmoke;
          font-size: 20px;
          margin-left: 25px;
        }
      }
    }
    .sort-con {
      height: 7.5;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      div {
        margin-right: 25px;
        margin-top: 10px;
        background-color: #131921;
        color: #f0f6f6;
        padding: 5px;
        border-radius: 25px;
        span {
          font-weight: 600;
        }
      }
      div:hover {
        cursor: pointer;
      }
    }
    .product-page {
      margin-top: 15px;
      color: #131921;
      width: 100%;
      height: 82.5%;
      display: flex;
      flex-direction: row;
      overflow-y: scroll;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .product {
        height: 300px;
        background-color: white;
        width: 250px;
        margin: 0 15px;
        margin-bottom: 15px;
        margin-top: 10px;
        box-shadow: 0 0 5px 1px grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
          margin-top: 10px;
          height: 150px;
          width: 150px;
        }
        .name {
          font-weight: 600;
          margin-top: 10px;
          margin-bottom: 5px;
        }
        .price {
          margin-top: 5px;
          font-weight: 500;
        }
        Button {
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }
    .product-page::-webkit-scrollbar {
      display: none;
    }

    .cart-container {
      color: #131921;
      margin: auto;
      margin-top: 0px;
      width: 75%;
      height: 90%;
      display: flex;
      flex-direction: column;
      // background-color: aquamarine;
      .empty {
        margin: auto;
        font-size: 75px;
      }
      .cartItems-container {
        height: 92.5%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        border-bottom: 5px solid #131921;

        .item {
          margin-top: 20px;
          background-color: whitesmoke;
          width: 100%;
          height: 150px;
          display: flex;
          flex-direction: row;
          border-bottom: 2.5px solid grey;
          img {
            margin-left: 25px;
            height: 95%;
            width: 125px;
          }
          .sub-info {
            height: 90%;
            width: 50%;
            margin: auto;
            margin-left: 25px;
            overflow-y: scroll;
            .name {
              font-size: 20px;
              margin-bottom: 7.5px;
            }
            .price {
              font-size: 20px;
              color: grey;
              span {
                font-weight: 600;
              }
            }
          }
          .sub-info::-webkit-scrollbar {
            display: none;
          }
          .qyt-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-right: 20px;
            .qty {
              text-align: center;
              margin-bottom: 5px;
              font-weight: 600;
              font-size: 20px;
            }
            .btn {
              margin-bottom: 15px;
              .cnt {
                font-weight: 700;
                font-size: 18px;
                margin: 0px 10px;
              }
            }
          }
          .delete-cont {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-right: 25px;
            Button {
              margin-bottom: 15px;
            }
          }
        }
      }
      .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 25px;
        Button {
          font-size: 20px;
        }
        span {
          font-weight: 600;
        }
      }
    }
  }
}
